# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\New Project\ERP with cousins\erp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
